<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:fragment="topnav">

<head lang="en" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/styles/css/topnav.css">

    <script>
            /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    </head>

    <body>

        <nav class="topnav" id="myTopnav">
            <!--/*@thymesVar id="viewTargetName" type="String"*/-->
            <a th:classappend="${viewTargetName eq 'homeview' ? 'active' : ''}" href="home">Home</a>
            <a th:classappend="${viewTargetName eq 'mapview' ? 'active' : ''}" href="map">Map</a>
            <a th:classappend="${viewTargetName eq 'adminview' ? 'active' : ''}" href="admin">Admin</a>
            <a th:classappend="${viewTargetName eq 'aboutview' ? 'active' : ''}" href="about">About</a>
            <a class="icon" href="javascript:void(0);" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>

            <div class="topnav-right topnav">

                <th:text th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</th:text>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>
        </nav>

    </body>
</html>