<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Winch Hunt Web</title>
        <th:block th:include="fragments/headerinc :: head"></th:block>
</head>

<style>

    article {
        float: left;
        padding: 20px;
        min-height: 170px;
        box-sizing: border-box;
    }

    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    footer {
        text-align: center;
        padding: 5px;
    }
</style>

<body>
<div class="container">
    <header>
        <nav>
            <th:block th:include="fragments/topnav :: topnav"></th:block>
        </nav>
    </header>
    <div class="wrapper clearfix">
        <article>
            <!--/*@thymesVar id="viewTargetPath" type="String"*/-->
            <!--/*@thymesVar id="viewTargetName" type="String"*/-->
            <th:block th:include="${viewTargetPath} :: ${viewTargetName}"></th:block>
        </article>
    </div>
    <footer>
        <p>copyright &copy; 2020: JoostIT</p>
    </footer>
</div>
</body>
</html>