<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winch Hunt Web</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<style>

    section {
        float: left;
        padding: 20px;
        min-height: 170px;
        box-sizing: border-box;
    }

    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    footer {
        text-align: center;
        padding: 5px;
    }
</style>

<body>
<div class="container">
    <header>
        <nav>
            <!--/*/ <th:block th:include="fragments/topnav :: topnav"></th:block> /*/-->
        </nav>
    </header>
    <div class="wrapper clearfix">
        <section>
            <h2>Welcome to our site</h2>
            <p>Here you will learn how to create websites...</p>
        </section>
    </div>
    <footer>
        <p>copyright &copy; 2020: JoostIT</p>
    </footer>
</div>
</body>
</html>